
.homeContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #333333;
  color: #ffffff;
  padding: 20px 10px 0; 
}

.homePageHeader {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
}

.homeName h1 {
  font-size: 2.5rem;
  padding-top:35px;
  margin-bottom: 10px;
  font-weight: bold;
}

.homeIntroStatus h2 {
  font-size: 1.5rem;
  color: #ffd700;
}

.homeShortInfoWrap,
.homeLongInfoWrap,
.homeFreetimeWrap {
  margin-top: 20px;
}


@media (max-width: 400px) {
  .homeName h1 {
    font-size: 2rem;
  }
  .homeIntroStatus h2 {
    font-size: 1.2rem;
  }
  .homeShortInfoWrap,
  .homeLongInfoWrap,
  .homeFreetimeWrap {
    margin-top: 10px;
  }
}
